
<!-- Finding item based on ID -->
<input type="number" name="SearchId" [(ngModel)] ="searchId" (change)= "onChange()">

<section *ngIf= "item">
    <div>ID: {{item.id}}</div>
    <div>Name: {{item.name}}</div>
    <div>Price: {{item.price}}</div>
</section>

<hr>

<!-- Finding an tiem based on the warehouse it is located in -->
<input type="number" name="WarehouseSearchId" [(ngModel)] ="warehouseSearchId" (change)= "warehouseCheck()">

<tr *ngFor= "let item of warehouseItems">
    <td>ID: {{item.id}}</td>
    <td>Name: {{item.name}}</td>
    <td>Price: {{item.price}}</td>
</tr>

<hr>

<!-- Creating a new item in the database -->
<h1>Save a new item in the warehouse</h1>
<form (submit)= "submit(saveItem)">

    <input type="number" name="saveItemWarehouseId" [(ngModel)]= "saveItem.warehouseID"/>
    <input type="text" name="saveItemName" [(ngModel)]= "saveItem.name"/>
    <input type="number" name="saveItemPrice" [(ngModel)]= "saveItem.price"/>
    <input type="submit">

</form>

<hr>

<!-- Lists all of the items currently in the database -->
<table>
    <thead>
        <tr><th>ID</th><td>Name</td><td>Price ($)</td><td>Warehouse ID</td></tr>
    </thead>
    <tbody>
        <tr *ngFor= "let item of items">
            <td>{{item.id}}</td>
            <td>{{item.name}}</td>
            <td>{{item.price}}</td>
            <td>{{item.warehouseID}}</td>
            
        </tr>

    </tbody>
</table>
