<html>
    <!-- Changes the warehouse ID of an item -->
    <h1>Change the warehouse an item is in</h1>
    <form (submit)= "updateWarehouse(warehouseItem)">

        <label>Input item ID</label>
        <input type="number" name="itemId" [(ngModel)]= "warehouseItem.id"/>
        <label>Input new item warehouse ID</label>
        <input type="number" name="itemWarehouseId" [(ngModel)]= "warehouseItem.warehouseID"/>
        <input type="submit">

    </form>

    <!-- Changes the name of an item -->
    <h1>Change the name of an item</h1>
    <form (submit)= "updateName(nameItem)">

        <label>Input item ID</label>
        <input type="number" name="itemId" [(ngModel)]= "nameItem.id"/>
        <label>Input new item name</label>
        <input type="text" name="itemName" [(ngModel)]= "nameItem.name"/>
        <input type="submit">

    </form>

    <!-- Changes the price of an item -->
    <h1>Change the price of an item</h1>
    <form (submit)= "updatePrice(priceItem)">

        <label>Input item ID</label>
        <input type="number" name="itemId" [(ngModel)]= "priceItem.id"/>
        <label>Input new item price</label>
        <input type="number" name="itemPrice" [(ngModel)]= "priceItem.price"/>
        <input type="submit">

    </form>
</html>