html {background-color: rgb(148, 190, 245);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

h1 {
    background-color: rgb(192, 102, 24);
    font-size: 48px;
    text-align: center;
}

.main{
    display: flex;
    justify-content: space-evenly;
    
}

button{
    font-size: 36px;
}