html, body {
    background-color: rgb(148, 190, 245);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    height: 98.5vh;
    overflow:-moz-hidden-unscrollable;
}

h1 {
    background-color: rgb(192, 102, 24);
    font-size: 48px;
    text-align: center;
    margin-top: 0;
}

button{
    font-size: 36px;
}

img{
    width: 48px;
    height: auto;
}

.main{
    display: flex;
    justify-content: space-evenly;
}

#footer{
    position: absolute;
    bottom: 0;
}